# Dependencies
node_modules/

# Logs
*.log
logs/
server.log

# Environment variables
.env
.env.local
.env.*.local

# Uploaded / temp files
uploads/
tmp/
*.pdf

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

dataset/
*.jpg
*.jpeg
*.png
*.gif
dermnet/
ai_model/dataset/
ai_model/dermnet/